{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://avatars2.githubusercontent.com/u/13826062?v=3&s=460"><br>
      <b>Silvia Chen</b><br>
      917 followers
    </div>
    <div class="col-md-9">
      <p><strong>All Tweets</strong></p>
      <!-- display tweets here -->

      {% for tweet in list %}
        <li><strong>{{tweet.name}}</strong></li>
          <ul>{{tweet.text}}</ul>
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}